# Configuración del Sistema SICET
PORT=3000

# Conexión a Base de Datos en la Nube (Turso)
# Si estas variables están vacías, el sistema usa automáticamente el archivo local SQLite (salidas.db)
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
